.class1
{
    size: 50px;
}
.class1 .class2 #id1
{
    font-size: 50px;
    color: red;
    margin: center;
}
.class2
{
    font-size: 40px;
    color: green;
}
#id1
{ 
    font-size: 30px;
    color: red;
    float: left;
    width: 150px;
    border: 2px solid;
    margin: 10px 15px 20px 25px;
    
}
#id2
{
    font-size: 30px;
    float: left;
    width: 200px;
    border: 2px solid;
    margin: 10px 15px 20px 25px;
}
.div1
{
    font-size: 30px;
    color: red;
    float: left;
    width: 150px;
    border: 2px solid;
    margin: 10px 15px 20px 25px;
}